.product-card__container {
  position: relative;
  height: 32vw;
  transition: all 0.6s;
}

.product-card__image--first {
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  height: 32vw;
  width: 100%;
  background-position: center;
  transition: all 0.5s;
}

.product-card__image--second {
  cursor: pointer;
  transition: all 0.5s;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  height: 32vw;
  width: 100%;
  background-position: center;
}